<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link
            href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
            rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<div>
    <a class="del" method="delete" href="noticeManager/delete">DELETE</a>
    <form action="" method="get" th:action="@{/noticeManager}" th:each="notice:${Allnotice}">
        <label>
            编号:<output type="text" name="noticeId"  th:text="${notice.noticeId}"></output><br/>
            时间:<output type="text" name="btime"  th:text="${notice.btime}"></output><br/>
            内容:<output type="text" name="msg"  th:text="${notice.msg}"></output><br/>

        </label><br />
    </form>
    <a th:href="@{/index}" href="/borrow">主页</a>
</div>
</body>
<script type="text/javascript">

    $(function(){
        $('.del').click(function(){
            $.delete(
            )
        })
    })
</script>
</html>