<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link
            href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
            rel="stylesheet">
</head>
<body>
<div>
    <form action="" method="get" th:action="@{/user}" th:each="borrow:${borrows}">
        <label>
            书号:
            <output type="text" name="name"  th:text="${borrow.code}"></output><br/>
            书名:
            <output type="text" name="name"  th:text="${borrow.name}"></output><br/>
            出借时间:
            <output type="text" name="pwd"  th:text="${borrow.btime}"></output><br/>
            应归还时间:
            <output type="text" name="birthday"  th:text="${borrow.etime}"></output><br/>
        </label><br />
    </form>
</div>
</body>
</html>