<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link
            href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
            rel="stylesheet">
</head>
<body>
<div>
    借阅记录
    <form action="" method="get" th:action="@{/borrow}" th:each="borrow:${borrows}">
        <label>
            提取码:
            <output type="text" name="code"  th:text="${borrow.code}"></output><br/>
            图书名称:
            <output type="text" name="name"  th:text="${borrow.name}"></output><br/>
            性质:
            <output type="text" name="JiaoFu" th:text="${borrow.jiaofu}"></output><br/>
            出借时间:
            <output type="text" name="pwd"  th:text="${borrow.btime}"></output><br/>
            应归还时间:
            <output type="text" name="birthday"  th:text="${borrow.etime}"></output><br/>
            状态:
            <output type="text" name="status" th:text="${borrow.status}"></output>
        </label><br />
    </form>
    已还书记录
    <form action="" method="get" th:action="@{/borrow}" th:each="borrow:${Returnborrows}">
        <label>
            提取码:
            <output type="text" name="code"  th:text="${borrow.code}"></output><br/>
            图书名称:
            <output type="text" name="name"  th:text="${borrow.name}"></output><br/>
            性质:
            <output type="text" name="JiaoFu" th:text="${borrow.jiaofu}"></output><br/>
            图书状态:
            <output type="text" name="status" th:text="${borrow.quality}"></output><br/>
            归还情况:
            <output type="text" name="Returnstatus" th:text="${borrow.returnStatus}"></output>
        </label><br />
    </form>
</div>
</body>
</html>