<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">		
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<link rel="stylesheet" href="css/weui.min.css" />

	</head>
	<body>
		<div class="weui-panel__hd qx-header">登录</div>
		<div class="weui-msg" style="margin-top:30px;">
		    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
		    <!--<p class="weui-msg__desc" th:text="${errorMsg}"></p>-->
		    <div class="weui-msg__extra-area">
		        <div class="weui-footer">		            
		            <p class="weui-footer__text">Copyright &copy; 2018-2020 </p>
		        </div>
		    </div>
		</div>
	</body>
</html>

