<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link
            href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
            rel="stylesheet">
</head>
<body>
<div>
    <form action="" method="get" th:action="@{/user}" th:object="${users}">
        <label>用户名:
            <output type="text" name="name"  th:text="*{name}"></output><br/>
            密码:
            <output type="text" name="pwd"  th:text="*{pwd}"></output><br/>
            生日:
            <output type="text" name="birthday"  th:text="*{birthday}"></output><br/>

        </label><br />
    </form>
    <a th:href="@{/borrow}" href="/borrow">借书信息</a>
    <a th:href="@{/user/showUserInfo}" href="/borrow">用户信息</a>
</div>
</body>
</html>